mat-card{
  max-width: 80%;
  margin: 2em auto;
}

.toolbarCourse{
  background-color: #F44336;
  color: #fff;
}

.loading-spinner{
  padding: 25px;
}

.min-width{
  width: 100%;
  min-width: 150px;
}