.card{
    margin-top: 15px;
    padding: 15px;
}

.toolbar_haeader{
    background-color: #ea58f2;
    color: #fff;
    margin-bottom: 10px;
}

mat-card{
    max-width: 80%;
    margin: 2em auto;
}

.full-width{
    width: 100%;
}

.min-width{
    width: 100%;
    min-width: 150px;
}
