table {
  width: 100%;
}

.card{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 30px;
}

.toolbarCourse{
  background-color: #F44336;
  color: #fff;
}

.loading-spinner{
  padding: 25px;
}